name: psfolio
description: "Pranjal Surana's Portfolio App"
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ^3.5.3

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  google_fonts: ^6.2.1
  url_launcher: ^6.2.6
  flutter_svg: ^2.0.10+1
  animated_text_kit: ^4.2.2
  carousel_slider: ^5.0.0
  smooth_page_indicator: ^1.2.0+3
  flutter_animate: ^4.5.0


dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0

flutter:
  uses-material-design: true
  
  assets:
    - assets/images/
